name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Nginx Image
        uses: docker/build-push-action@v5
        with:
          context: ./docker/nginx
          file: ./docker/nginx/Dockerfile
          push: false
          tags: laravel-docker-nginx:latest
          cache-from: type=gha,scope=nginx
          cache-to: type=gha,mode=max,scope=nginx

      - name: Build PHP Image
        uses: docker/build-push-action@v5
        with:
          context: ./docker/php
          file: ./docker/php/Dockerfile
          push: false
          tags: laravel-docker-php:latest
          cache-from: type=gha,scope=php
          cache-to: type=gha,mode=max,scope=php
